<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqToSqlDemo.Data.Properties.Settings.FirstDayDBConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=FirstDayDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>